<template name='winter'>
  <div class="fullwidth hero">
    <div class='hero-winter hero-container text-center'>
      <h1>Rent Skis, Snowboards, & Clothing</h1>
    </div>
  </div>
  <div class='container static-page winter'>
  <p class='lead'>
    GetOutfitted is the nation’s largest provider of ski clothing rentals featuring the best brands like Burton, Patagonia, Obermeyer and more. You can also book your ski and snowboard rental through GetOutfitted. Have your gear delivered to your house before your trip or shipped directly to your resort anywhere in the US.
  </p>
  <p class='lead'>
    We are currently refreshing our inventory for next season. If you are interested in booking skis, boards or ski clothing, sign up below and we will email as soon as our products are back up.
  </p>
    <div class='row text-center super-padded'>
      <form class="form-inline winterSignUpInfo">
        <div class="form-group">
          <label for="winterSignUpInfo"></label>
          <input type="email" class="form-control" id="winterSignUpInfo" name="winterSignUpInfo" placeholder="example@example.com">
        </div>
        <button type="submit" class="btn btn-info btn-default">Sign Up</button>
      </form>
    </div>
  </div>
</template>

