.hero-unit {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('/packages/getoutfitted_static-pages/public/images/hero.jpg');
  background-size: cover;
  position: relative;
  background-position: center;
  width: 100%;
}
