<template name='getoutfittedAbout'>
  <div class='container'>
    <div class='row'>
      <img class='large-go img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/large-go.jpg'>
   </div>
  </div>
  {{> ourStory}}
  {{> ourTeam}}
</template>

<template name='ourStory'>
  <div class='container'>
  <div class='row'>
      <h1 class='text-center'>Our Story</h1>
  </div>
  <hr>
  <div class='row'>
    <p class="lead">GetOutfitted rents ski clothing and skis in the winter and camping gear in the summer, all delivered directly to your doorstep. Born at the foot of Pikes Peak in Colorado, GetOutfitted is a company designed to give its customers a world-class outdoor experience. We source top brands and fresh gear from the best manufacturers in the industry to ensure you have an amazing rental experience at a great price.</p>
    <p class="lead">We built this company to solve a few key problems many of us have encountered on our outdoor trips. Most of us can’t justify the cost of owning, storing and traveling with our gear if we only participate on a casual basis. Why should we have to buy such expensive gear when what we really care about is having a great experience? With GetOutfitted, you don’t have to.</p>
    <p class="lead"><strong>We’re here to solve all of these problems and to provide great service.
    Give us a call at 888-618-0305 if there’s anything we can help you with.</strong></p>
  </div>
  </div>
</template>

<template name='ourTeam'>
  <div class='container'>
    <div class='row'>
      <h1 class='text-center'>Our Team</h1>
    </div>
    <hr>
    <div class='row'>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/julian.jpg'>
        <div class='text-center'>
          <h3><strong>Julian Flores</strong></h3>
          <h4>Founder and CEO</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/mike.jpg'>
        <div class='text-center'>
          <h3><strong>Mike Mueller</strong></h3>
          <h4>VP Sales and Marketing</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/spencer.jpg'>
        <div class='text-center'>
          <h3><strong>Spencer Norman</strong></h3>
          <h4>VP Engineering</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/logo.jpg'>
        <div class='text-center'>
          <h3><strong>Anthony Trinh</strong></h3>
          <h4>VP Operations</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/adam.jpg'>
        <div class='text-center'>
          <h3><strong>Adam Kroneberger</strong></h3>
          <h4>Director of Sales</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/nicole.jpg'>
        <div class='text-center'>
          <h3><strong>Nicole Roosien</strong></h3>
          <h4>Creative Director</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/logo.jpg'>
        <div class='text-center'>
          <h3><strong>Amber Wade</strong></h3>
          <h4>Manager of Customer Care</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/paul.jpg'>
        <div class='text-center'>
          <h3><strong>Paul Grever</strong></h3>
          <h4>Software Engineer</h4>
        </div>
      </div>
    </div>
  </div>
</template>

