<template name='getoutfittedAbout'>
  <div class="fullwidth hero">
    <div class='hero-about hero-container text-center'>
      <h1>About US</h1>
    </div>
  </div>
  {{> ourStory}}
  {{> ourTeam}}
</template>

<template name='ourStory'>
  <div class='container'>
  <div class='row'>
      <h1 class='text-center'>Our Story</h1>
  </div>
  <hr>
  <div class='row'>
    <p class="lead">Many things in life are complicated but the outdoors shouldn’t be. Nature provides us with peace, clarity, amazing experiences, and good health. Unfortunately, the outdoors are becoming more inaccessible than ever. Gear is expensive and, often times, bulky, taking up space and making travel more complicated. These barriers alone are enough to deter many from stepping outside and experiencing nature.</p>
    <p class='lead'><strong>Enter GetOutfitted.</strong></p>
    <p class="lead">Born in 2013 at the feet of the Rocky Mountains, GetOutfitted rents premium outdoor gear to your doorstep for easy, one-time use. Whether you’re going on a once-in-five-years camping trip, or testing out that Oru Kayak you’ve been thinking about buying, we make it possible to experience the outdoors in both old and new ways.  </p>
    <p class="lead">We work with some of the best brands in the business, including Patagonia, Burton, Kelty, Oru Kayak, and more to deliver the highest quality equipment and clothing to your doorstep. Think of us like the gear closet you’ve always wanted.</p>
  </div>
  </div>
</template>

<template name='ourTeam'>
  <div class='container'>
    <div class='row'>
      <h1 class='text-center'>Our Team</h1>
    </div>
    <hr>
    <div class='row'>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/julian.jpg'>
        <div class='text-center'>
          <h3><strong>Julian Flores</strong></h3>
          <h4>Founder and CEO</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/mike.jpg'>
        <div class='text-center'>
          <h3><strong>Mike Mueller</strong></h3>
          <h4>VP Sales and Marketing</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/spencer.jpg'>
        <div class='text-center'>
          <h3><strong>Spencer Norman</strong></h3>
          <h4>VP Engineering</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/logo.jpg'>
        <div class='text-center'>
          <h3><strong>Anthony Trinh</strong></h3>
          <h4>VP Operations</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/adam.jpg'>
        <div class='text-center'>
          <h3><strong>Adam Kroneberger</strong></h3>
          <h4>Director of Sales</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/nicole.jpg'>
        <div class='text-center'>
          <h3><strong>Nicole Roosien</strong></h3>
          <h4>Creative Director</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/logo.jpg'>
        <div class='text-center'>
          <h3><strong>Amber Wade</strong></h3>
          <h4>Manager of Customer Care</h4>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <img class='img-circle img-responsive center-block' src='/packages/getoutfitted_static-pages/public/images/paul.jpg'>
        <div class='text-center'>
          <h3><strong>Paul Grever</strong></h3>
          <h4>Software Engineer</h4>
        </div>
      </div>
    </div>
  </div>
</template>

