<template name='groups'>
  <div class="fullwidth hero">
    <div class='hero-group hero-container text-center'>
      <h1>Group Sales</h1>
    </div>
  </div>
  <div class='container static-page text-center'>
    <div class='row'>
      <h1>Group Camping Is Easy With GetOutfitted</h1>
    </div>
    <div class='row extraPadding'>
      <p class='lead'>Need camping gear for an upcoming event, festival, or group trip? We offer various camping bundles at a group rate for 10 or more people. Just email <a href='mailto:adam@getoutfitted.com?Subject=Group%20Sales%20Inquiry"'><strong>adam@getoutfitted.com</strong></a> or call/text <a href ='tel:719-472-4961'><strong>719-472-4961</strong></a> with details and we would be happy to provide a free quote.</p>
    </div>
  </div>
</template>
