<template name='newBelgium'>
  <div class='fullwidth hero'>
    <div class='newBelgium hero-container text-center'>

    </div>
  </div>
  <div class='container static-page'>
    <div class='row text-center'>
      <h1>New Belgium Wants You To Step Outside</h1>
      <p class=lead>New Belgium has teamed up with GetOutfitted to give you a chance to get outside this summer. Click the link below and you will be entered to win a free weekend gear rental package from GetOutfitted. Have a Kelty camping gear package, an Oru kayaking package, stand up up paddleboard package, Tentsile tree trent package, or a Onewheel package delivered to your house for a weekend adventure, then send it back when your done. 10 winners will also win a free GetOutfitted Swag kit that includes a vacuum insulated camping mug, and a few other surprise goodies! Contest closes July 31st, 2016.</p>
    </div>
    <div class='row text-center extraPadding'>
      <!-- <script src="https://www.hive.co/loadwidget/" type="text/javascript"></script><a class="hive-widget-container" target="_blank" href="https://www.hive.co/l/24m94" data-widget-type="contest" data-object-id="3379"><img src="https://www.hive.co/l/24mbc" alt="GetOutfitted x New Belgium Giveaway (Contest on Hive.co)" style="width: 450px; max-width: 100%;" /></a> -->
      <a class='btn btn-info btn-lg' target='_blank' href="https://www.hive.co/l/24m94">Click here to enter now!</a>
    </div>
  </div>
</template>
